*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px;
  background-color: rgb(148, 198, 228);
  min-height: 100vh;
}


.wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  background-color: rgb(202, 227, 243);
  height: 90vh;
  padding: 1.5rem;
  border-radius:8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.display-area{
  width:100%;
  max-width:300px;
  margin:0 auto;
  border-radius:8px;
  color: rgb(12, 12, 32);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  box-shadow: 0 2px 4px rgba(139, 135, 135, 0.3);
  padding: 0.4rem;
}

.button-area{
  padding: 3px;
  width: 70%;
  max-width: 350px;
  margin: 1rem auto;
}

button{
  border-radius: 50%;
  padding: 10px;
  width: 50px;           
  height: 50px;  
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 800;
  background: rgb(91, 147, 211);
  color: white;
  margin: 2px ;
  cursor: pointer; 
  transition: all 0.2s ease;
}

[data-operator]{
  background-color: rgb(238, 170, 43);
  font-size: 18px;
}

.clear-button{
  background-color: rgb(212, 114, 114);
}

.screen {
  padding: 10px 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--screen);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}